extends layout
block content
 #banner.page-header
  .row
   .col-lg-6
    h1
     |Mekan 32
     small &nbsp; Isparta civarındaki mekanları keşfedin!
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/mekan/') Starbucks
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
         span.badge.pull-right.badge-default 10km
         p.address Centrum Garden AVM
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Kekler
            | &nbsp;
            span.label.label-warning Kurabiyeler
            | &nbsp;
            span.label.label-warning Pastalar
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/mekan/kahveDeryasi') Kahve Deryası
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
         span.badge.pull-right.badge-default 15km
         p.address Optimum AVM
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Islak Kekler
            | &nbsp;
            span.label.label-warning Pastalar
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/mekan/kahveDeresi') Kahve Deresi
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
         span.badge.pull-right.badge-default 3km
         p.address Forum AVM
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Cheese Kekler
            | &nbsp;
            span.label.label-warning Yaş Pastalar
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/mekan/kahveDiyari') Kahve Diyarı
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
         span.badge.pull-right.badge-default 4km
         p.address Centrum Garden AVM
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Türk Kahvesi Çeşitleri
            | &nbsp;
            span.label.label-warning Kekler
            | &nbsp;
            span.label.label-warning Pastalar
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/mekan/kahveDunyasi') Kahve Dünyası
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
         span.badge.pull-right.badge-default 15km
         p.address Mall Of AVM
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Kekler
            | &nbsp;
            span.label.label-warning Pastalar
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/mekan/kazakKahvesi') Kazak Kahvesi
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
         span.badge.pull-right.badge-default 20km
         p.address Ispaş Garden AVM
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Kekler
            | &nbsp;
            span.label.label-warning Pastalar
       .col-xs-12.col-sm-12
