extends layout
block content
 .row.page-header
  .col-lg-12
    h1 Starbucks
 .row
   .col-xs-12.col-md-12
    .row
     .col-xs-12.col-sm-6
        p.rating
         span.glyphicon.glyphicon-star
         span.glyphicon.glyphicon-star
         span.glyphicon.glyphicon-star
         span.glyphicon.glyphicon-star
         span.glyphicon.glyphicon-star-empty
        p Centrum Garden AVM
        .panel.panel-primary
         .panel-heading
            h2.panel-title Açılış Saatleri
         .panel-body
            p
                | Pazartesi-Cuma: 7:00-23:00
            p
                | Cumartesi: 8:00-22:00
            p
                | Pazar: Kapalı
        .panel.panel-primary
         .panel-heading
            h2.panel-title Neler Var
         .panel-body
            span.label.label-warning
                span.glyphicon.glypicon-ok
                | &nbsp; Dünya Kahveleri
            | &nbsp; 
            span.label.label-warning
                span.glyphicon.glypicon-ok
                | &nbsp; Kekler
            | &nbsp; 
            span.label.label-warning
                span.glyphicon.glypicon-ok
                | &nbsp; Pastalar
            | &nbsp;
     .col-xs-12.col-sm-6.location-map
      .panel.panel-primary
        .panel-heading
            h2.panel-title Konum Bilgisi
        .panel-body
            -var enlem=37.781406
              -var boylam=30.565119
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='
              +enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
 .row
  .col-xs-12
    .panel.panel-primary.review-panel
      .panel-heading
        a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
        h2.panel-title Müşteri Yorumları
      .panel-body.review-container
       .row
        .review
          .well.well-sm.review-header
            span.rating
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
            span.reviewAuthor Asım Sinan Yüksel
            small.reviewTimestamp &nbsp;  23 Kasım 2020
          .col-xs-12
             p Kahveler güzel.






